
  <nav class="navbar" *ngIf="isLoggedIn">
    <div class="container">
      <a class="navbar-brand" >MMS</a>
      <ul class="nav">
        <!-- Common Links for All Roles 
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>-->
  
        <!-- Admin Links -->
        <li class="nav-item" *ngIf="userRole === 1">
          <a class="nav-link" routerLink="/admin">Meetings</a>
        </li>
        <li class="nav-item"*ngIf="userRole === 1">
          <a class="nav-link" routerLink="/attendees">Attendees</a>
        </li>
  
        <!-- Organizer Links -->
        <li class="nav-item" *ngIf="userRole === 2">
          <a class="nav-link" routerLink="/organizer">Meetings</a>
        </li>
        <!-- <li class="nav-item" *ngIf="userRole === 2">
          <a class="nav-link" routerLink="/attendees">Attendees</a>
        </li>-->
  
        <!-- Participant Links -->
        <li class="nav-item" *ngIf="userRole === 3">
          <a class="nav-link" routerLink="/Participant">My Meetings</a>
        </li>
  
        <!-- Logout -->
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
  