
  <nav class="navbar" *ngIf="isLoggedIn">
    <div class="container">
      <a class="navbar-brand" >MMS</a>
      <ul class="nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <!-- Admin Links -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Dashboard</a>
        </li>
        
        <li *ngIf="permissions.includes('Manage users')" 
         class="nav-item">
          <a class="nav-link" routerLink="/user-management">User Management</a>
        </li>
  
        <!-- Logout -->
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
  