<div class="admin-dashboard">
  <h1>Welcome to Meeting Management System</h1>
  <h2>Dashboard</h2>

  <!-- Create Meeting Button -->
  <button *ngIf="permissions.includes('Create Meetings')" routerLink="/meetings/new" class="btn btn-primary">
    Create New Meeting
  </button>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>agenda</th>
        <th>meetingURL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of meetings">
        <td>{{ meeting.title }}</td>
        <td>{{ meeting.date | date: 'yyyy-MM-dd' }}</td>
        <td>{{ meeting.time }}</td>
        <td>{{ meeting.status }}</td>
        <td>{{ meeting.agenda }}</td>
        <td>{{ meeting.meetingURL }}</td>
        <td>
          <!-- Edit Meeting Button -->
          <button *ngIf="permissions.includes('Edit Meetings')"
                  [routerLink]="['/meetings', meeting.meetingId, 'edit']" class="btn btn-warning">
            Edit
          </button>
          <!-- View Attendees Button -->
          <button *ngIf="permissions.includes('View Attendee')"
                  [routerLink]="['/meetings', meeting.meetingId, 'attendees']" class="btn btn-primary">
            View Attendees
          </button>
           <!-- View Meeting Minutes -->
           <button *ngIf="permissions.includes('View Minute M')" 
           [routerLink]="['/minutes', meeting.meetingId, 'minutes']" class="btn btn-primary">
            Meeting Minutes
          </button>
          <!-- Delete Meeting Button -->
          <button *ngIf="permissions.includes('Delete Meetings')" 
                  (click)="deleteMeeting(meeting.meetingId)" class="btn btn-danger">
            Delete
          </button>

        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="meetings.length === 0" class="no-meetings">
    <p>No meetings available.</p>
  </div>
</div>
